<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    
    <link rel="stylesheet" href="/static/CSS/styles.css">
     
    
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

   <title>Open-Source Club | Recruitment Form</title>
</head>
<body>
    <script type="text/javascript">
      var submitted = false;
    </script>
    <iframe
      name="hidden_iframe"
      id="hidden_iframe"
      style="display: none"
      onload="if(submitted) {window.location='submission';}"
    ></iframe>
    
    <div class="container">
        <header>Open Source Club Recruitment Form</header>
        <form action="#"
        method="post"
        target="hidden_iframe"
        onsubmit="submitted=true"
        >
            <div class="form first">
                <div class="details personal">
                    <span class="title">Personal Details</span>

                    <div class="fields">
                        <div class="input-field">
                            <label for="name">Full Name</label>
                            <input type="text" placeholder="Enter your name" name="name" required>
                        </div>

                        <div class="input-field">
                            <label for="email">VIT Email</label>
							<input type="text" placeholder={{email}} name="email" disabled>
                        </div>
                        
                        <div class="input-field">
                            <label for="regnum">Registration no.</label>
                            <input type="text" placeholder="Enter Registration no." name="regnum" required>
                        </div>
                        
                        <div class="input-field">
                            <label for="phone">Mobile Number (10 digits only without country code)</label>
                            <input type="text" placeholder="Enter mobile number" name="phone"  required>
                        </div>

                        <div class="input-field">
                            <label for="team">Team</label>
                            <select name="team"  required>
                                <option disabled selected>Select Option</option>
                                <option>App Development</option>
                                <option>Content Writing</option>
								<option>Cyber Security</option>
                                <option>Designing Team</option>
                                <option>Event Management</option>
								<option disabled>Finance Team</option>
                                <option>Machine Learning</option>
                                <option>Photography Team</option>
                                <option>PR & Outreach</option>
                                <option>Social Media</option>
                                <option>Web Development</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="details ID">
                    <span class="title">More Information</span>

                    <div class="fields">
                        <div class="input-field">
                            <label for="sellingpoint">Why you feel you are fit for this role?</label>
                            <input type="text" placeholder="Enter Your response" name="sellingpoint" required>
                        </div>

                        <div class="input-field">
                            <label for="linkedin">LinkedIn ID:</label>
                            <input type="text" placeholder="URL" name="linkedin" required>
                        </div>

                        <div class="input-field">
                            <label for="github">Github ID: (Compulsary for Tech Team)</label>
                            <input type="text" placeholder="URL" name="github" required>
                        </div>

                        <div class="input-field">
                            <label for="projectolink">Link of the Best Project you made</label>
                            <input type="text" placeholder="URL" name="projectolink" required>
                        </div>
                        
                        <div class="input-field">
                            <label for="resumelink">Resume Link</label>
                            <input type="text" placeholder="URL" name="resumelink">
                        </div>

                    </div>

                    <button class="nextBtn">
                        <span class="btnText">Next</span>
                        <i class="uil uil-navigator"></i>
                    </button>
                </div> 
            </div>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div id="flash-messages" class="flash-messages">
                        {% for message in messages %}
                            <div class="flash-message">{{ message }}</div>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}
            <div class="form second">
                <div class="details address">
                    <span class="title">General Questions</span>

                    <div class="fields">
                        <div class="input-field">
                            <label for="ques1">What specific skills or talents do you bring that could benefit the club?</label>
                            <input type="text" placeholder="You response" name="ques1" required>
                        </div>

                        <div class="input-field">
                            <label for="ques2">Are you interested in taking on a leadership role within the club? If yes, please specify the role you are interested in.</label>
                            <input type="text" placeholder="You response" name="ques2" required>
                        </div>

                        <div class="input-field">
                            <label for="ques3">Do you have any suggestions or ideas for club activities or projects?</label>
                            <input type="text" placeholder="You response" name="ques3" required>
                        </div>

                    </div>
                </div>

                <div class="details family">
                    <div class="buttons">
                        <div class="backBtn">
                            <i class="uil uil-navigator"></i>
                            <span class="btnText">Back</span>
                        </div>
                        
                        <button type="submit" class="sumbit">
                            <span class="btnText">Submit</span>
                            <i class="uil uil-navigator"></i>
                        </button>
                    </div>
                </div> 
            </div>
        </form>
    </div>  
    <script src="/static/JS/script.js"></script>
</body>
</html>
