<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    
    <link rel="stylesheet" href="styles.css">
     
    
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

   <title>Open Source Club | Recruitment From</title>
</head>
<body>
    <script type="text/javascript">
      var submitted = false;
    </script>
    <iframe
      name="hidden_iframe"
      id="hidden_iframe"
      style="display: none"
      onload="if(submitted) {window.location='submission.html';}"
    ></iframe>
    <div class="container">
        <header>Open Source Club Recruitment Form</header>

        <form action="#"
        method="post"
        target="hidden_iframe"
        onsubmit="submitted=true"
        >
            <div class="form first">
                <div class="details personal">
                    <span class="title">Personal Details</span>

                    <div class="fields">
                        <div class="input-field">
                            <label for="entry.1875145497">Full Name</label>
                            <input type="text" placeholder="Enter your name" name="entry.1875145497" required>
                        </div>

                        <div class="input-field">
                            <label for="entry.1701885730">VIT Email</label>
                            <input type="text" placeholder="Enter your email" name="entry.1701885730" required>
                        </div>
                        
                        <div class="input-field">
                            <label for="entry.226176799">Registration no.</label>
                            <input type="text" placeholder="Enter Registration no." name="entry.226176799" required>
                        </div>
                        
                        <div class="input-field">
                            <label for="entry.1951691030">Mobile Number</label>
                            <input type="text" placeholder="Enter mobile number" name="entry.1951691030"  required>
                        </div>

                        <div class="input-field">
                            <label for="entry.1372231617">Team</label>
                            <select name="entry.1372231617"  required>
                                <option disabled selected>Select Option</option>
                                <option>Social Media</option>
                                <option>App Development</option>
                                <option>PR & Outreach</option>
                                <option>Designing Team</option>
                                <option>Machine Learning</option>
                                <option>Content Writing</option>
                                <option>Web Development</option>
                                <option>Photography Team</option>
                                <option>Event Management</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="details ID">
                    <span class="title">More Information</span>

                    <div class="fields">
                        <div class="input-field">
                            <label for="entry.1496265850">Why you feel you are fit for this role?</label>
                            <input type="text" placeholder="Enter Your response" name="entry.1496265850" required>
                        </div>

                        <div class="input-field">
                            <label for="entry.1038590822">LinkedIn ID:</label>
                            <input type="text" placeholder="URL" name="entry.1038590822" required>
                        </div>

                        <div class="input-field">
                            <label for="entry.2059175934">Github ID: (Compulsary for Tech Team)</label>
                            <input type="text" placeholder="URL" name="entry.2059175934" required>
                        </div>

                        <div class="input-field">
                            <label for="entry.1015707641">Link of the Best Project you made</label>
                            <input type="text" placeholder="URL" name="entry.1015707641" required>
                        </div>
                        
                        <div class="input-field">
                            <label for="entry.1010985963">Resume Link</label>
                            <input type="text" placeholder="URL" name="entry.1010985963">
                        </div>

                    </div>

                    <button class="nextBtn">
                        <span class="btnText">Next</span>
                        <i class="uil uil-navigator"></i>
                    </button>
                </div> 
            </div>

            <div class="form second">
                <div class="details address">
                    <span class="title">General Questions</span>

                    <div class="fields">
                        <div class="input-field">
                            <label for="entry.166140641">What specific skills or talents do you bring that could benefit the club?</label>
                            <input type="text" placeholder="You response" name="entry.166140641" required>
                        </div>

                        <div class="input-field">
                            <label for="entry.898221713">Are you interested in taking on a leadership role within the club? If yes, please specify the role you are interested in.</label>
                            <input type="text" placeholder="You response" name="entry.898221713" required>
                        </div>

                        <div class="input-field">
                            <label for="entry.156424539">Do you have any suggestions or ideas for club activities or projects?</label>
                            <input type="text" placeholder="You response" name="entry.156424539" required>
                        </div>

                    </div>
                </div>

                <div class="details family">
                    <div class="buttons">
                        <div class="backBtn">
                            <i class="uil uil-navigator"></i>
                            <span class="btnText">Back</span>
                        </div>
                        
                        <button type="submit" class="sumbit">
                            <span class="btnText">Submit</span>
                            <i class="uil uil-navigator"></i>
                        </button>
                    </div>
                </div> 
            </div>
        </form>
    </div>  
    <script src="script.js"></script>
</body>
</html>
